@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Macondo&display=swap');
@import "./style-variables.scss";

.App {
  font-family: 'Comic Neue', 'Comic Sans MS', cursive;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .main {
    flex-grow: 1;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;

    .page-title {
      font-size: 3.25rem;
      margin: 50px 0 40px;
    }
  }
}

body {
  margin: 0;
}
